

<!DOCTYPE html>
<html>
<head> 
<title>Spot Bot</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="/static/styles/base.css"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap" rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="icon" type="image/png" href="/static/icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/static/icons/favicon.svg" />
<link rel="shortcut icon" href="/static/icons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Spot Bot" />
<link rel="manifest" href="/static/icons/site.webmanifest" />
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#546ba8">
<meta property="og:locale" content="en_US" />
<meta property="og:title" content="Spot Bot" />
<meta property="og:description" content="&#34;Spotting&#34; is a fun game that played among colleagues who take photos (&#34;spots&#34;) of each other in the wild. Spot Bot is a Slack App that allows you to keep track of players&#39; spots.   Installation  T..." />
<meta property="og:image" content="https://spotbot.csmentors.org/static/images/spot-bot-icon.jpg" />
<meta property="og:url" content="https://spotbot.csmentors.org/" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Spot Bot" />
<meta name="twitter:description" content="&#34;Spotting&#34; is a fun game that played among colleagues who take photos (&#34;spots&#34;) of each other in the wild. Spot Bot is a Slack App that allows you to keep track of players&#39; spots.   Installation  T..." />
<meta name="twitter:image" content="https://spotbot.csmentors.org/static/images/spot-bot-icon.jpg" />
 
</head>
<body>
      <main>
    
<div class="container-flex secondary pb-5">
    <div class="narrow-column-container">
        <div class="page-header-container container-sm d-flex flex-column flex-wrap align-items-center justify-content-center w-100">
            
             <h1 class="page-title">Spot Bot</h1> 
            
        </div>
        
            <hr class="page-header-separator">
        
    </div>


<div class="narrow-column-container">
<div class="w-100 text-center mt-3 mb-5">
    <img class="" alt="A person in a hood taking a photograph with a DSLR." src="/static/images/spot-bot-icon.jpg" style="width: 150px;"/>
</div>  
<p>"Spotting" is a fun game that played among colleagues who take photos ("spots") of each other in the wild. Spot Bot is a Slack App that allows you to keep track of players' spots.</p>

<h2>Installation</h2>
<p>To install Spot Bot, add Spot Bot to your workspace using the below installation button. Then, add Spot Bot to the channel that you want to play in.</p>

<p>By installing Spot Bot, you agree that you have read and agree to our <a href="terms-privacy">terms of use and privacy policy</a>. </p>

<p><a href="https://spotbot.csmentors.org/spotbot/install/"><button class="" alt="Add to Slack"  style="width: 139px; height: 40px;background-image: url(/static/images/add_to_slack.png); background-repeat: no-repeat; border: none; background-color: transparent; background-size: contain;"></button></a></p>

<h2>Using Spot Bot</h2>
Once Spot Bot is in a channel, you can use Spot Bot with the following keywords: 
<ul>
    <li><code>spot</code>, <code>spotted</code>: Spot people by mentioning them in a message with the keyword <code>spot</code> or <code>spotted</code> and a picture of your spot.</li>
    <li><code>spotboard</code>: Show how many times each channel member has spotted someone else. <code>spotboard 20</code> will show the top 20 spotters. </li>
    <li><code>caughtboard</code>: Show how many times each channel member has been spotted. <code>caughtboard 20</code> will show the top 20 who've been caught. </li>
    <li><code>pics</code>: View all pics of a person by tagging them in a message with the <code>pics</code> keyword.</li>
    <li><code>referendum</code>: Reply <code>referendum</code> to a spot to start a 24-hour vote to determine if the spot will count or not.</li>
    <li><code>reset</code>: Reset the spot record in a channel.</li>
    </ul>
Here are some other tips for using Spot Bot:
    <ul>
        <li>Look out for ✅. If you don't see ✅, your spot didn't count!</li>
        <li>If you didn't spot something correctly, you can edit your message within one minute of sending it to correct the error.</li>
        <li>If you delete a message, the spot will no longer count!</li>
        <li>Spot Bot will treat each channel of the workspace separately so different teams can maintain their own spot boards.</li>
    </ul>
<h2>Development</h2>
<p>Spot Bot is maintained on <a href="https://github.com/csmberkeley/spot-bot">GitHub</a>.</p>
<p>Spot Bot was proudly union made by members of UAW 4811.</p>
</div>

</div>


    </main>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>
</html>